* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

aside.ant-layout-sider.ant-layout-sider-dark,
.ant-layout-sider-trigger {
  background-color: #fff !important;
}

.ant-layout-sider-trigger span {
  color: #000;
}

.select-label {
  display: flex;
  justify-content: space-between;
}

.add-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.select-label .select-icon {
  margin-right: 10px;
  width: 14px;
  font-weight: 700;
}
.group-select-add {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.content-modal-nhom-cay {
  padding: 20px;
  background-color: #61a9ff;
  border: 1px solid #1d82fd;
}

.content-modal-nhom-cay .input-nhom-cay {
  background-color: #d9d9d9;
  padding: 10px 32px;
  border-radius: 45px;
}

.input-nhom-cay .input {
  width: 80%;
}

.modal-confirm-content {
  margin: 32px auto;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
}

.content-modal-nhom-cay .ant-form-item {
  margin-bottom: 0;
}
